
h1 {
  color: red;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Fantasy';
}
nav{
  background: #32a89d;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 10px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}



