h1 {
  color: red;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #32a89d;
  height: 100px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 30px;
  line-height: 100px;
  padding: 50px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: incline-block;
  line-height: 100px;
  margin: 0 5px;
}



